:host {
  h1 {
    font: 300 54px Yantramanav, sans-serif;
    line-height: 64px;
    letter-spacing: 0.964286px;
    color: #333333;
  }

  p {
    font: 22px Yantramanav, sans-serif;
    line-height: 32px;
    letter-spacing: 0.916667px;
    color: #666666;

  }
}
